*{
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	width: 1330px;
	padding: 0 20px 0 120px;
}
header{
	margin: 0;
	height: 70px;
	width:  1300px;
	display: flex;
	align-items: center; 
	position: fixed;
 	
}
header>h1{
	padding:  10px 10px 10px 0;
  font-size: 39pt;
  font-family: "Segoe UI";
  color: rgb( 0, 0, 0 );
  text-align: left;
  font-weight: lighter;
}
.basket{
	margin: 0 0 0 20px;
	display: flex;
	width: 280px;
	height: 20px;
	background: #d9644a;
	padding: 20px 20px 20px 20px;
	align-items: center;
}
.basket>img{
	height: 35px;
	width:  35px;
}
#summShop{
	margin: 0 0 0 100px; 
	width: 140px; 
  font-size: 20pt;
  font-family: "Segoe UI";
  color: rgb( 255, 255, 255 );
  text-align: right;
  font-weight: normal;
  justify-content: flex-end;
}
article{
	margin: 70px 0 0 0px; 
	display: flex;
	flex-wrap: wrap;
}
section{
	margin: 5px;
	display: flex;
	align-items: flex-end;
}
.t-shirts{
	height: 370px;
	width: 360px;
	background: url('t-shirt1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 5px 5px -185px 5px;
}
.label{
	/*clear: both;*/
	height: 20px;
	padding: 10px 0 10px 0;
	width: 100%;
	margin: 0 0 0 0;
	background: rgba(255,255,255, 0.8);
	display: flex;
	justify-content: space-around;
}
.label>h2{
	/*align-self: flex-end;*/
	margin-left: 20px;
	font-size: 16pt;
	font-family: Segoe UI;
	color: rgba( 1, 1, 1, 0.8 );
	width: 340px;
	text-align: left;
	font-weight: normal;
	align-self: center;
}
.cards, .pens-pencils, .notebooks, .toys, .bags, .scrum-cards, .magnets, .caps{
	height: 180px;
	width: 230px;
}
.t-shirts:hover, .cards:hover, .pens-pencils:hover, .notebooks:hover, .toys:hover, .bags:hover, .scrum-cards:hover, .magnets:hover, .caps:hover, .basket:hover, .back-button:hover, .minus-item:hover, .add-item:hover, .clear-all:hover{
	cursor: pointer;
}
.cards{
	background: url('cards1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.pens-pencils{
	background: url('pens1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.notebooks{
	width: 470px;
	background: url('notebooks1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.toys{
	background: url('toys1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.add-margin-toys{
	margin:  5px 5px 5px 375px;
}
.bags{
	height: 370px;
	background: url('bags.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin:  5px 5px -185px 5px;
}

.scrum-cards{
	background: url('scrum_cards1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.magnets{
	background: url('magnets1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.caps{
	width: 360px;
	background: url('caps1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.add-margin-pens{
	margin: 5px 5px 5px 245px;
}

.open-goods{
	position: absolute;
	background: #fff;
	margin: 0;
    height: 670px;
}
.header-popup{
	margin: 0;
	height: 70px;
	width:  1300px;
	display: flex;
	align-items: center; 
	position: fixed;
}
.back-button{
	margin: 0 0 0 -75px;
}
.nameTags{
	padding:  10px 10px 10px 0;
	font-size: 39pt;
	font-family: "Segoe UI";
	color: rgb( 0, 0, 0 );
	text-align: left;
	font-weight: lighter;
	margin: 0 470px 0 35px;
    width: 400px;
}
.goods{
	margin: 70px 0 0 0;
	align-items: flex-start;
}
.item-goods{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.price-item{
	margin: 0 10px 0 0px; 
	width: 140px; 
	font-size: 16pt;
	font-family: "Segoe UI";
	color: #d9644a;
	text-align: right;
	font-weight: normal;
	align-self: center;
	justify-content: flex-end;
}
.item-bg{
	height: 370px;
	width: 360px;
	display: flex;
    align-items: flex-end;
}
.amount{
	margin:  10px 0 0 0;
	width: 320px;
	height: 50px;
	background: #4ea686;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px 20px 20px;
}
.amount>p:first-child{
	width: 100%;
	text-align: center;
	  font-size: 11pt;
	  font-family: "Segoe UI";
	  color: rgba( 255, 255, 255, 0.8 );	
}
.number-item{
  font-size: 24pt;
  font-family: "Segoe UI";
  color: rgb( 255, 255, 255 );
  text-align: center;
  width: 240px;
}
.minus-item, .add-item {
	margin:  -5px 0 0 0;
	width: 40px;
	height: 40px;
}
.shop-list{
	height: 365px;
	width:  565px;
 	font-size: 16pt;
  	font-family: "Segoe UI";
 	color: rgba( 255, 255, 255);
  	text-align: left;
  	border-spacing: 0px;
	border-collapse: collapse;
  	overflow: scroll;
  	background: #da644a;
}
.name-goods-shop-list{
	width: 260px;
}
.amount-shop-list{
	width: 85px;
	align-items: center;
}
.amount-shop-list>.minus-item, .amount-shop-list>.add-item{
	margin:  0 0 0 0;
	width: 20px;
	height: 20px;
}
.amount-shop-list>.number-item{
	font-size: 16pt;
	width: 20px;
}
.shop-lsit tbody{
	height: 268px;
}
.shop-list tr{
	background: #da644a;
	height: 45px;
	display: flex; 
}
.shop-list td{
	height: 25px;
	padding:  10px 20px 10px 20px;
	display: flex;
	align-items: center;
}
.shop-list tbody tr:nth-child(odd){
	background: #bf613f;
}
.shop-list tfoot tr{
	background: #343e40;
}
.shop-list tfoot td:last-child{
	margin: 0 0 0 265px;
}
.price-shop-list{
	text-align: end;
	width: 100px;
}
.clear-all{
	background: rgba(255,255,255, 0);
	border: 2px solid #fff;
	font-size: 14pt;
  	font-family: "Segoe UI";
 	color: rgba( 255, 255, 255);
  	text-align: center;
  	padding: 0px 20px 0px 20px;
}
.button-block{
	margin:  10px 0 0 0;
	width: 525px;
	height: 35px;
	background: #4ea686;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 20px 10px 20px;
}
.button-block>button:last-child{
	margin: 0 0 0 249px;
}
.open-shop{
	width: 1400px;
}
